/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote:after,
q:before, q::after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
==============================================
Costum styles
==============================================
*/


body {
	font-size: 16px;
	font-family: 'Roboto';
	letter-spacing: .5px;
	color: rgba(0, 0, 0, 1);
	background-color: rgba(238, 238, 238, 1);
}

a {
	text-decoration: none;
}

span {
	font-weight: bold;
}

h1 {
	font-weight: bold;
	margin: 10px;
	font-size: 28px;
}

p {
	margin: 5px 0;
}

/*
==============================================
Articles
==============================================
*/

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;

}

article {
	display: flex;
	max-width: 75%;
	padding: 10px;
	margin: 10px;
	border-radius: 8px;
}

.contentText {
	margin-bottom: 20px;
}

.articleContainer {
	display: flex;
	flex-direction: column;
}


.likesSpan {
	margin-left: 10px;
}

/*
==============================================
Author
==============================================
*/

.authorContainer {
	margin: 5px 0px 0 20px;
	text-align: center;
}

.img {
	max-height: 100px;
	border-radius: 100px;
}

.title {
}

.authorLink {
	color: rgba(0, 0, 0, 1);
}

.authorLink:hover {
	color: rgba(255, 0, 0, 1);
}

/*
==============================================
logo
==============================================
*/

.logo {
	background-color: rgba(38, 41, 51, 1);
	color: rgba(255, 255, 255, 1);
	margin: 0;
	padding: 25px;
	font-size: 38px;
	font-weight: normal;
}
.logo a{
	color: rgba(255, 255, 255, 1);
}

.logo a:hover {
	color: rgba(255, 0, 0, 1);
}

/*
==============================================
Navigation
==============================================
*/

.nav {
	width: 100%;
	height: 50px;
	background-color: rgba(29, 36, 46, 1);
	border-bottom: 3px solid rgba(255, 0, 0, 1);
	position: sticky;
	top: 0;
}

.nav ul {
	display: flex;
	margin: 0;
	padding: 0 50px;
}

.nav ul li a {
	display: block;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 50px;
	color: rgba(255, 255, 255, 1);
}

.nav a:hover {
	background-color: rgba(0, 0, 0, 0.2);
	color: rgba(255, 0, 0, 1);
}
